@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body {
  @apply bg-brand-background text-brand-textPrimary antialiased;
}

::selection {
  @apply bg-brand-primary/80 text-brand-textPrimary;
}
